.container {
    margin-left: 13px;
}

.container-dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-pergunta {
    justify-content: center;
    width: 91vw;
    margin-bottom: 32px;
    margin-left: -15px;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #e6e6e6bb;
    border: 1px solid #c7c7c7a4;
    box-shadow: 2px 2px 5px rgba(43, 43, 43, 0.185);
}

.linha-duvida {
    margin-top: 9px;
    width: 120px;
}

.pergunta {
    display: block;
    font-size: 1.2rem;
    text-align: start;
    padding-right: 10px;
    font-weight: bold;
    color: rgb(22, 22, 22);
    position: relative;
    cursor: pointer;
}

.pergunta::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #CE3C4D;
    border-radius: 2px;
    margin-left: -20px;
    position: absolute;
    top: 10px;
}

.pergunta::after {
    content: '';
    background-image: url('../svg/expandir-mais.svg');
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: -15px;
    top: 0;
    transition: 0.3s ease;
}

.resposta {
    display: none;
    text-align: start;
    font-size: 1.1rem;
    max-width: 100ch;
    color: rgb(46, 46, 46);
    padding-right: 32px;
    margin-top: 12px;
    transform: translateY(-30px);
    transition: 3s ease-in;
    max-width: 100ch;
}

.pergunta, .resposta {
    margin-left: 12px;
}

/* Abre as resposas ao clicar nas perguntas e ocorre uma animação */

.abrir {
    display: block;
    animation: slide .3s forwards;
}

[data-container-pergunta].rodar > .pergunta::after {
    transform: rotate(180deg);
    right: -10px;
    top: -5px;
}


@media (max-width: 625px) {
    .perguntas-freq {
        font-size: 2.1rem;
        margin: 4rem -1rem;
    }

    .pergunta {
        font-size: 1.1rem;
    }

    .resposta {
        font-size: 1rem;
    }

    .container-pergunta {
        width: 85vw;
    }

    .duvida {
        font-size: 1.2rem;
        margin: -1rem 0 2.5rem -1rem; 
    }
}