* {
    padding: 0;
    margin: 0;
}

/* Faz os links internos terem um scroll suave */

html {
    scroll-behavior: smooth;
}

:target {
    margin-top: 0.7rem;
}

body {
    background-color: #E5EBEB;
}



/* TIPOGRAFIA */

.titulo, .titulo2, #pizzas h3, .titulo-form, .perguntas-freq, .cardapio-titulo, .container-item h2 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.flex-ul ,.corpo-texto, .pedir, .populares-bg h2, .local-bg h3, .local-bg p, footer, .container-modal label, #botao-fechar, #finalizar-pedido, #pizza, #formulario input, .aviso, .preco, .pergunta ,.resposta, .duvida, #pizzas p, .cardapio-corpo, .container-item a, .preco-pizza {
    font-family: 'Nunito Sans', sans-serif;
}



/* Linhas de Decoração*/

.linha1 {
    content: '';
    width: 70px;
    height: 3px;
    background-color: #CE3C4D;
    border-radius: 2px;
    margin-bottom: 32px;
}

.linha2, .linha3, .linha4, .linha5 {
    content: '';
    width: 90px;
    height: 3px;
    display: block;
    border-radius: 2px;
    background-color: #008D44;
}

.linha2, .linha5 {
    width: 50px;
}

.linha2 {
    margin: 0 auto;
    margin-bottom: 72px;
}

.linha3 {
    margin-top: 12px;
    margin-bottom: 36px;
}

.linha4 {
    margin: 0 auto;
}

.linha5 {
    margin: 32px 0;
}


/* Compartilham o mesmo código em paginas diferentes*/

.duvida, .cardapio-corpo {
    display: block;
    font-size: 1.2rem;
    text-align: start;
    margin: -1.9rem 0 3.5rem 0.5rem;
    color: rgb(39, 39, 39);   
}

.perguntas-freq, .cardapio-titulo {
    display: block;
    text-align: start;
    font-size: 2.5rem;
    margin: 4rem 0.5rem;
    color: rgb(22, 19, 19);
}