/* localizacao */

.local-bg {
    background-color: #E5EBEB;
    padding: 30px;
    max-width: 1400px;
    margin: 0 auto;
}

.local-titulo {
    display: block;
    margin-top: 32px;
    margin-bottom: 110px;
}

.local-titulo h3 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 12px;
}

.local {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 148px;
    padding-bottom: 64px;

}


.local p {
    display: flex;
    flex-wrap: wrap;
    flex: 1 2 auto;
    font-size: 1.5rem;
    color: rgb(20, 20, 20);
    margin-bottom: 9px;
    justify-content: flex-start;
    position: relative;
}

.local p::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 12px;
    background-color: #008D44;
    position: absolute;
    left: -25px;
    top: 10px;
}


.mapa {
    max-width: 500px;
    margin-left: 128px;
}





@media (max-width: 1080px) {
    .local {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        padding-bottom: 128px;

    }
    

    .local div {
        margin: -32px 35px;
    }

    
    
    .mapa {
        max-width: 500px;
        margin: 0 auto;
    }

    
}

@media (max-width: 660px) {
    .mapa {
        max-width: 400px;
    }

    .local div {
        justify-content: flex-start;
        margin-left: 32px;
    }

    
}


@media (max-width: 565px) {

    .local div {
        margin: -64px 32px;
    }

}


@media (max-width: 479px) { 
    .mapa {
        max-width: 380px;
    }
}

 
@media (max-width: 400px) {
    .mapa {
        max-width: 300px;
    }


    .local p {
        font-size: 1.2rem;
    }
}


@media (max-width: 330px) {
    .mapa {
        max-width: 250px;
    }

    .local div {
        margin-top: -64px;
        margin-bottom: -64px;
    }

    .local p {
        font-size: 1.2rem;
    }

}



