.populares-bg {
    display: grid;
    background-color: #EAEEE8;
    margin: 0 auto;
    padding: 30px;
    justify-content: center;
}

#populares-h2 {
    display: flex;
    color: #1b1b1b;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
    margin: 36px 0;
}

.flex-pop {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 32px;
    margin-bottom: 32px;
}

.circulo {
    content: '';
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #2B2927;
    cursor: pointer;
}

.circulo1 {
    background-color: #008D44;
}

.circulo1:hover {
    background-color: #077c40;
}

.circulo2 {
    background-color: white;
}

.circulo2:hover {
    background-color: rgb(230, 223, 223);
}

.circulo3 {
    background-color: #CE3C4D;
}

.circulo3:hover {
    background-color: #a52534;
}

#pizzas {
    display: grid;
    grid-template-columns: minmax(100px, 220px) 1fr;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
    transform: translateX(-30px);
}


.container-pizza img {
    max-width: 300px;
    margin-left: 70px;
    filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.349));
}

.container-descricao {
    margin: 0 auto 0 164px;
}

.animar {
    animation: slide .3s forwards;
}



#pizzas {
    padding-bottom: 64px;
}

#pizzas h3 {
    font-size: 2.2rem;
}

#pizzas p {
    font-size: 1.2rem;
    max-width: 65ch;
}


@media (min-width: 1500) {
    .container-pizza img {
        margin: 0 auto;
    }

    .container-descricao {
        justify-items: center;
        margin: 0 auto;
    }
}


@media (max-width: 1060px) {
    #pizzas {
        grid-template-columns: 1fr;
    }

    .container-pizza img {
        display: none;
    }

    #pizzas {
        justify-content: center;
        margin-top: -20px;
    }

    #pizzas p {
        max-width: 50ch;
    }
    
    .container-descricao {
        margin: 0 auto;
    }
}


@media (max-width: 700px) {
    #pizzas {
        margin-top: 25px;
    }

    .linha2 {
        margin-bottom: 0px;
    }
}

@media (max-width: 565px) {
    #pizzas p {
        font-size: 1rem;    
    }
}